.intro-page{
  text-align: center;
  padding: 100px;
  width: 100%;
  height: 715px;
  background-color: #ffe268;
}
.intro-page-footer{
  padding: 5px;
  position: absolute;
  bottom:1px;
  right: 670px;
  display: inline-block;
  align-self: center;
}
h1{
  font-size: 80px;
  font-family:'fantasy','papyrus';
}
h2{
  font-size: 50px;
  font-family:'fantasy','papyrus';
}
p{
  font-family:'cursive','Lucida Handwriting';
  list-style: circle;
}
.movie-img{
  width: 200px;
  height: 200px;
}
.sub-categories{
  display: inline-block;
  text-align: center;
  margin: 20px;
  background-color: #ffb037;
}
.sub-categories:hover{
   transform: scale(1.25);
}
.categories{
  text-align: center;
  background-color: #ffe268;
  margin: 50px;
  padding: 50px;
  overflow-x: scroll;
}
html {
  scroll-behavior: smooth;
}
.footer{
  width: 100%;
  height: 85px;
  text-align: center;
  padding: 20px;
  background-color: #ffe268;
}
.footer-link{
  margin-right: 20px;
  margin-left:  20px;
}
.footer-footer{
  margin: 7.5px;
}
.one:hover{
  font-size: 150%;}
h5:hover{
  text-decoration: underline;
}
.two{
  margin: 20px;
}
.two:hover{
  font-size: 150%;
}
.three:hover{
  font-size: 150%;
}
.login-credentials{
  display: inline-block;
  margin-top: 30px;
  border-style: solid;
  padding: 20px;
  background-color: white;
}
div{border-style: solid;}
.nn{
  width:100%;
}
